/**
 * @file
 * Visual styles for Tourism+'s destination content type.
 */
.page-node-type-mt-destination .page-title {
  margin-bottom: 5px;
}

/*labels*/
.node--type-mt-destination .field:not(.field--label-inline) .field__label,
.node--type-mt-destination h3.title {
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #f1f1f1;
}

/*destination reference*/
.field--name-field-mt-destination-reference {
  margin-top: 30px;
}
.field--name-field-mt-destination-reference .field__label {
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #f1f1f1;
}
.field--name-field-mt-destination-reference.field--label-inline .field__label,
.field--name-field-mt-destination-reference.field--label-inline .field__items {
  display: block;
  float: none;
}
.field--name-field-mt-destination-reference > .field__items > .field__item {
  margin-bottom: 20px;
}

/* highlight field */
.node--type-mt-destination .field.field--name-field-mt-highlight .field__label {
  text-align: center;
  border: none;
  margin-bottom: 10px;
  padding-bottom: 0;
  margin-top: 40px;
  font-weight: 400;
  font-size: 40px;
}

/*destination info*/
.node--type-mt-destination .node__destination-info {
  margin-bottom: 40px;
}
.node--type-mt-destination .field--name-field-mt-location {
  display: inline-block;
}
.node--type-mt-destination .field--name-field-mt-location:before {
  font-family: "Fontawesome";
  content: "\f041";
  padding-right: 10px;
  color: #c0c0c0;
}
.node--type-mt-destination .field--name-field-mt-location + .field--name-field-mt-date {
  display: inline-block;
  margin-left: 20px;
}
.node--type-mt-destination .field--name-field-mt-date:before {
  font-family: "Fontawesome";
  content: "\f133";
  padding-right: 10px;
  color: #c0c0c0;
}
.node--type-mt-destination .field--name-field-image {
  margin-bottom: 25px;
}

/*lists*/
.node--type-mt-destination .list-unstyled li {
  margin-bottom: 5px;
}