/**
 * @file
 * Visual styles for Tourism+'s destination content type destionation preview view.
 */
.node--view-mode-mt-destination-preview .node__title {
  margin-bottom: 20px;
}
.node--view-mode-mt-destination-preview .node__side-content {
  margin-bottom: 25px;
}
.node--view-mode-mt-destination-preview .google-map-canvas {
  height: 195px;
}
.node--view-mode-mt-destination-preview .node__side-content .field--name-field-image {
  margin-bottom: 0;
}
@media (max-width: 991px) {
  .node--view-mode-mt-destination-preview .google-map-canvas {
    height: 400px;
  }
}
